<!DOCTYPE html>
%html
  %head
    <meta charset="utf-8">
    <title>HoverMe</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    // icons http://ionicons.com/
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/style.css">

  %body
    .hv-grid-list
      .hv-item.hv-hover-1
        .hv-item-inner
          .hv-overlay
          .hv-img-wrap
            %img{:src => "https://d13yacurqjgara.cloudfront.net/users/995236/screenshots/2935086/logoooo_1x.png", :alt => ""}/
          .hv-title
            Test project
          .hv-icons
            %span.hv-
              %i.ion-eye
              12
            %span
              %i.ion-android-favorite
              12

      .hv-item.hv-hover-2
        .hv-item-inner
          .hv-overlay.hv-scale
          .hv-img-wrap
            %img{:src => "https://d13yacurqjgara.cloudfront.net/users/995236/screenshots/2935086/logoooo_1x.png", :alt => ""}/
          .hv-title
            Test project
          .hv-icons
            %span.hv-
              %i.ion-eye
              12
            %span
              %i.ion-android-favorite
              12
      .hv-item.hv-hover-2
        .hv-item-inner
          .hv-overlay
          .hv-img-wrap
            %img.hv-zoom{:src => "https://d13yacurqjgara.cloudfront.net/users/995236/screenshots/2935086/logoooo_1x.png", :alt => ""}/
          .hv-title
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium delectus
          .hv-icons
            %span.hv-
              %i.ion-eye
              12
            %span
              %i.ion-android-favorite
              12
      .hv-item.hv-hover-1
        .hv-item-inner
          .hv-overlay.hv-height-x
          .hv-img-wrap
            %img.hv-zoom{:src => "https://d13yacurqjgara.cloudfront.net/users/995236/screenshots/2935086/logoooo_1x.png", :alt => ""}/
          .hv-title
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium delectus
          .hv-icons
            %span.hv-
              %i.ion-eye
              12
            %span
              %i.ion-android-favorite
              12

      .hv-item.hv-hover-1
        .hv-item-inner
          .hv-overlay.hv-width-x
          .hv-img-wrap
            %img.hv-rotate-img-right{:src => "https://d13yacurqjgara.cloudfront.net/users/995236/screenshots/2935086/logoooo_1x.png", :alt => ""}/
          .hv-title
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium delectus
          .hv-icons
            %span.hv-
              %i.ion-eye
              12
            %span
              %i.ion-android-favorite
              12