<!DOCTYPE html>
%html
  %head
    <meta charset="utf-8">
    <title>HoverMe</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    // icons http://ionicons.com/
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/style.css">

  %body
    .grid-list
      .item.hover-1
        .item-inner
          .overlay
          %img{:src => "https://d13yacurqjgara.cloudfront.net/users/995236/screenshots/2935086/logoooo_1x.png", :alt => ""}/
          .title
            Test project
          .icons
            %span
              %i.ion-eye
              12
            %span
              %i.ion-android-favorite
              122
      .item
        .item-inner
          .overlay
          %img{:src => "https://d13yacurqjgara.cloudfront.net/users/2780/screenshots/2935405/dribbble_1x.png", :alt => ""}/
      .item
        .item-inner
          .overlay
          %img{:src => "https://d13yacurqjgara.cloudfront.net/users/1132518/screenshots/2934574/justrow-07_1x.jpg", :alt => ""}/
      .item
        .item-inner
          .overlay
          %img{:src => "https://d13yacurqjgara.cloudfront.net/users/2780/screenshots/2935405/dribbble_1x.png", :alt => ""}/


