@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);

@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

html,
body {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

* {
    @include box-sizing(border-box);

    &:after,
    &:before {
        @include box-sizing(border-box);
    }
}

.hv-grid-list {
    font-size: 0;
    overflow: hidden;

    .hv-item {
        padding: 20px;
        display: inline-block;

        // Hover Styles
        &.hv-hover-1 {
            .title {
                @include transform(translate(0, -50px));
            }

            .icons {
                @include transform(translate(0, 50px));
            }

            &:hover {
                .icons {
                    @include transform(translate(0, 0));
                }

                .title {
                    @include transform(translate(0, 0));
                }
            }
        }

        .hv-item-inner {
            position: relative;
            overflow: hidden;

            &:hover {
                .hv-icons {
                    opacity: 1;
                }

                .hv-title {
                    opacity: 1;
                }

                .hv-overlay {
                    @include transition(all #{$anim_time} #{$anim_curve});

                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .hv-title {
            @include transition(all #{$anim_time} #{$anim_curve});

            position: absolute;
            color: #fff;
            top: 0;
            left: 0;
            margin: 20px 15px;
            font-size: 25px;
            opacity: 0;
            z-index: 10;
        }

        .hv-content {
            @include transition(all #{$anim_time} #{$anim_curve});
            z-index: 10;
        }

        .hv-img-wrap {
          position: relative;
          overflow: hidden;
          z-index: 1;
        }

        .hv-icons {
            position: absolute;
            color: #fff;
            bottom: 0;
            left: 0;
            margin: 15px 15px;
            font-size: 25px;
            opacity: 0;
            font-size: 12px;
            color: #fff;
            z-index: 10;

            @include transition(all #{$anim_time} #{$anim_curve});

            span {
                margin: 0 10px 0 0;
            }

            i {
                font-size: 16px;
                margin: 0 4px 0 0;
            }
        }

        .hv-overlay {
          z-index: 3;
        }
    }
}

.hv-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;

    @include transition(all #{$anim_time} #{$anim_curve});
}


.credits {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 2px 15px;
    background-color: #333;
    width: 100%;
    z-index: 3;

    a {
        color: #fff;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
    }
}
